*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
a:hover {
    color: #0056b3;
    text-decoration: none!important;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f5f5f5;
    line-height: 1.6em;
}
/*                        header                           */
.header{
    height: 100px;
    background: #333;
    padding: 0 20px;
 
}
.logo{
    line-height: 100px;
    float: left;
}
.menu{
    line-height: 100px;
    float: right;
    position: relative;
    margin-bottom: 0px;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0,4s;
}
.show-menu-btn,.hide-menu-btn{
    transition: 0,4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
    margin-bottom: 0px;
}
.show-menu-btn i{
    line-height: 100px;
}

.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: blue;
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
/* media */




.header ul{
    list-style-type: none;
}
.header ul li{
    display: inline-table;
}
.header ul li:hover{
    background: #fbe122;

}
.header ul li a:hover{
    color: #333;
}
/* .header ul li >.sub-menu{
    display: none;
    position: absolute;
}
.header ul li:hover .sub-menu{
    display: block;
}
.sub-menu li{
    display: block!important;
}
.sub-menu{
    background: red;
    width: 100px;
} */
.logo{
    background:  #fbe122;
    position: relative;
    padding: 37px 40px 0px 0px;
    
}
.logo:before {
    position: absolute;
    background-color: inherit;
    content: '';
    width: 1000px;
    height: 100px;
    transform: skew(-35deg);
    z-index: 0;
    top: 0;
    left: -700px;
    height: 100px;
}
.logo img {
    position: absolute;
    
}
/*                          content                     */

#top {
    margin: 0px auto 0;
    position: relative;
    z-index: 1000;
    background: #f5f5f5;
    overflow: hidden;
    margin-bottom: 50px;
}
.display-image{
    float: left;
    background: #FFF;
    border-right: 1px #eaeaea solid;
    margin: 0px;
    

}
.display-image img{
    width: 100%;
    position: relative;
}
.display-image .product-image{
    display: block;
    width: 100%;
    
}

.new-label {
    font-size: 10.5px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #ed6663;
    text-transform: uppercase;
    padding: 0px 10px;
    text-align: center;
    display: block;
    position: absolute;
    font-weight: 400;
    height: 24px;
    border-radius: 3px;
    line-height: 26px;
    z-index: 10;
}
.new-top-left {
    left: 0px;
    top: 0;
    letter-spacing: 1px;
}
.sale-label {
    font-size: 10.5px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #50b2fc;
    text-transform: uppercase;
    padding: 0px 10px;
    text-align: center;
    display: block;
    position: absolute;
    font-weight: 400;
    height: 24px;
    border-radius: 3px;
    line-height: 26px;
    z-index: 10;
    letter-spacing: 0.5px;
}
.sale-top-left{
    top:0px;
    right: 0px;
}
.item-info {
    text-align: center;
}
.info-inner .item-title {
    margin-bottom: 10px;
    padding-top: 25px;
    font-size: 18px;
    overflow: hidden;
    letter-spacing: 0.5px;
    font-family: 'Saira Condensed', sans-serif;
    line-height: 1.3em;
}
.info-inner .item-title a {
    text-decoration: none;
    font-weight: 500;
    color: #121212;
}
.ratings {
    font-size: 11px;
    line-height: normal;
    margin: 2px 0;
}
.ratings .rating-box {
    margin-right: 8px;
    display: inline-block;
}
.rating-box {
    width: 60px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url(./bkg_rating.png) 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
}
.rating-box .rating {
    float: left;
    height: 9px;
    background: url(./bkg_rating.png) 0 100% repeat-x;
}
.ratings .rating-links {
    margin: 0;
    display: none;
}
.price-box {
    margin: 0;
    padding: 18px 0px 10px 0px;
}
.regular-price {
    display: inline;
}
.regular-price .price {
    font-weight: 500;
    font-size: 22px;
    color: #121212;
}
.other-info {
    border-top: 1px #eaeaea solid;
    color: #777;
    padding-top: 20px;
    margin-top: 15px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.col-km {
    float: left;
    width: 33.3%;
}
.other-info i {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}

.col-engine {
    float: left;
    width: 33.3%;
}
.col-date {
    float: left;
    width: 33.3%;
    font-size: 14px;
}
.hot_deals .new-title {
    text-align: left;
   
    border-bottom: 1px #eaeaea solid;
    margin-bottom: 10px;
    background: #23292e;
}
.new-title {
    color: #000000;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: none;
   
}
.hot_deals .new-title h2 {
    color: #121212;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 22px 25px 22px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fbe122;
    margin-top: 0px;
    min-width: 250px;
}
.hot_deals .new-title h2:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    transform: skew(-35deg);
    right: -35px;
    top: 0;
    background-color: inherit;
    z-index: 0;
}
.hot_deals {
    padding: 0px 10px;
    position: relative;
    margin-top: 0px;
    padding-bottom: 5px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #eee #ddd #eee;
    box-shadow: 0 5px 0 rgba(200,200,200,.2);
    margin-bottom: 50px;
}
/* barand-logo */
.brand-logo {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px;
    background: url(../img/testimonials-bg-img1.jpg) no-repeat bottom left;
    overflow: hidden;
    padding-bottom: 360px;
}
.testimonials-section {
    padding: 15px 45px;
    text-align: center;
    min-height: 343px;
    padding-bottom: 25px;
    text-align: center!important;
    position: relative;
    margin: 25px;
}
.avatar {
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    
}
.offer-slider {
    display: block;
    text-align: center;
    margin: 0px auto 30px;
}
.avatar img {
    border-radius: 999px;
    margin-bottom: 10px;
    width: auto;
    display: inline-block!important;
    border: 8px rgba(255,255,255,0.2) solid;
    width: 130px;
    
   
}
.testimonials {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.6em;
    padding: 0px 0px;
}
.clients_author {
    font-size: 22px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    color: #fbe122;
    letter-spacing: 0.5px;
}

.hot_deals .title{
    text-align: left;
    border-bottom: 1px #eaeaea solid;
    margin-bottom: 10px;
    background: #23292e;
}
.title {
    color: #000000;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: none;
}
.hot_deals .title h2 {
    color: #121212;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 22px 25px 22px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #50b2fc;
    margin-top: 0px;
    min-width: 250px;
}
.hot_deals .title h2:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    transform: skew(-35deg);
    right: -35px;
    top: 0;
    background-color: inherit;
    z-index: 0;
}
.hot_deals .title {
    text-align: left;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 1px #e5e5e5 solid;
    margin-bottom: 10px;
    background: #e5e5e5;
}
.blog-home-inner .blog-title{
    text-align: left;
    border-bottom: 1px #eaeaea solid;
    margin-bottom: 10px;
    background: #fff;
}
.blog-home-inner {
  
    position: relative;
    margin-top: 0px;
    padding-bottom: 10px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #eee #ddd #eee;
    box-shadow: 0 5px 0 rgba(200,200,200,.2);
    margin-bottom: 30px;
}
.blog-title {
    color: #fff;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: none;
}
.blog-home-inner .blog-title h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 22px 25px 22px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ed6663 ;
    margin-top: 0px;
    min-width: 250px;
}
.blog-home-inner .blog-title h2:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    transform: skew(-35deg);
    right: -35px;
    top: 0;
    background-color: inherit;
    z-index: 0;
}
.blog_inner .blog_inner {
    position: relative;
    margin-top: 0px;
    background-color: #fff;
}
.blog_inner .blog-img {
    display: block;
    overflow: hidden;
}
.blog-img {
    position: relative;
}
.blog_inner a {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
}
.blog_inner img {
    width: 100%;
    border-radius: 0px;
   
}
.blog-info {
    padding: 25px 3px;
}
.post-date {
    width: 140px;
    background: #fbe122;
    position: absolute;
    display: inline-block;
    color: #121212;
    font-weight: 500;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    left: 15px;
    padding: 10px 15px;
    letter-spacing: 1px;
    margin-top: -85px;
}
.post-meta {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px!important;
    text-align: left;
    padding-bottom: 10px;
}
.post-meta li {
    display: inline-block;
    margin-right: 10px;
    color: #a7a7a7;
    text-transform: none;
    font-size: 13px;
}
.latest-blog a {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
}
.post-meta li i {
    padding-right: 7px;
}
.post-meta li a {
    margin-right: 5px;
    color: #50b2fc;
    font-size: 13px;
}
.post-meta a:hover {
    color: #000;
    text-decoration: none;
}
.blog-home-inner h3{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 19px;
}
.blog-home-inner h3 a{
    font-size: 26px;
    font-weight: 500;
    font-family: 'Saira Condensed', sans-serif;
    padding-bottom: 15px;
    display: block;
    letter-spacing: 0.5px;
    line-height: 1.3em;
    text-decoration: none;
}
.logo-brand {
    padding: 0px 10px;
    position: relative;
    margin-top: 0px;
    padding-bottom: 20px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #eee #d5d5d5 #eee;
    box-shadow: 0 5px 0 rgba(200,200,200,.2);
    margin-bottom: 50px;
}
.logo-brand .brand-title {
    text-align: left;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 1px #e5e5e5 solid;
    margin-bottom: 10px;
    background: #fff;
}
.logo-brand .brand-title h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 22px 25px 22px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #23292e;
    margin-top: 0px;
    min-width: 250px;
}
.logo-brand .brand-title h2:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    transform: skew(-35deg);
    right: -35px;
    top: 0;
    background-color: inherit;
    z-index: 0;
}
.logo-item img {
    border: 1px #e5e5e5 solid;
    line-height: 85px;
    margin-top: 18px;
    text-align: center;
}
/* hot_deals */
.button{
text-align: center;

}
.button a{
    margin: 0px;
    display: inline-block;  
    color: #333;
    vertical-align: top;
    font-size: 22px;
    padding: 12px 18px;
}
.button a:hover{
    background: #fbe122;   
    
}
